* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100vh;
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
    list-style: none;
    background-color: white;
}

ul li {
    display: inline-block;
    position: relative;
}
#au {
    width: 200px;
}
ul li a {
    display: block;
    padding: 20px 45px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: rgb(128, 127, 127);
}

ul li:hover ul.dropdown {
    display: block;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo {
    width: 30%;
}
